<IfModule mod_rewrite.c>
RewriteEngine On

#remove trailing slash
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)/$ /$1 [L,R=301]

#RewriteRule ^$ index.html [L]

#add .html at the end
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^\.]+)$ $1.html [NC,L]

</IfModule>