nav.main {
	position: absolute;
	width: 100%;
	top: 0;
	background: #fff;
	box-shadow: 0 0 2px #999;

	.logo {

	}

	ul {
		max-width: 800px;
		height: 50px;
		margin: 0 auto;
		padding: 0 10px;
		line-height: 50px;
	}

	li {
		display: inline-block;
		padding: 0 20px;

		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}

	a {
		display: block;
		color: #999;
		font-size: 18px;
		text-decoration: none;
		transition: 300ms color;
		@extend %Raleway;

		&:hover {
			color: #333;
		}
	}

	li.current a {
		color: #333333;
		text-shadow: 0 0 2px #999;
	}

	@include susy-breakpoint($laptop) {
		ul {
			max-width: 1024px;
		}
	}
}